.header {
  width: 100vw;
  border-bottom: 1px solid var(--border-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}
.header .container .logo a {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .container .logo a img {
  width: 40px;
  border-radius: 10px;
}
.header .container .logo a h1 {
  font-size: 20px;
  font-weight: 500;
  transition: var(--main-tran);
}
.header .container .logo a h1:hover {
  color: var(--main-color);
}
.header .container .ul-links {
  display: flex;
  gap: 50px;
  font-size: 19px;
  font-weight: bold;
}
.header .container .ul-links .li-link a {
  position: relative;
  font-weight: bold;
  transition: var(--main-tran);
}
.header .container .ul-links .li-link a:hover {
  color: var(--main-color);
}
.header .container .ul-links .li-link a.active {
  color: var(--main-color);
}
.header .container .ul-links .li-link a.active::before {
  content: "";
  width: 100%;
  height: 15px;
  position: absolute;
  top: -39px;
  border-radius: 6px;
  transition: var(--main-tran);
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px var(--main-color);
}
.header .container .ul-links .li-link a.active:hover::before {
  transform: scaleX(1.1);
}
.header .container .btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .container .btns a {
  padding: 10px;
  border-radius: 14px;
  font-size: 18px;
  transition: var(--main-tran);
  background-color: var(--main-color);
}
.header .container .btns a:hover,
.header .container .btns .menu-btn:hover {
  filter: brightness(95%);
}
.header .container .btns .menu-btn {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  transform: scaleX(0.9);
  font-size: 25px;
  border-radius: 14px;
  transition: var(--main-tran);
  background-color: var(--main-color);
}
@media (max-width: 1000px) {
  .header .container .ul-links {
    display: none;
  }
  .header .container .btns .menu-btn {
    display: flex !important;
  }
}
.mobile-menu {
  width: 350px;
  position: fixed;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid var(--border-color);
  background-color: var(--box1-color);
}
.mobile-menu .menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu .menu-header img {
  width: 45px;
  border-radius: 12px;
}
.mobile-menu .menu-header h1 {
  font-size: 22px;
}
