.footer {
  position: relative;
  z-index: 999;
  padding: 30px 0;
  width: 100vw;
  margin: auto;
  margin-top: 80px;
  background-color: var(--box1-color);
}
@media (max-width: 1203px) {
  .footer {
    padding: 30px 0;
    height: auto;
  }
}
.footer * {
  color: var(--white-color);
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .container .top,
.footer .container .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer img {
  width: 48px;
  border-radius: 12px;
}
.footer .container .top p {
  width: 43%;
}
@media (max-width: 1200px) {
  .footer .container .top p {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  .industry-img {
    margin-bottom: 20px;
  }
}
.footer .container .top .footer-uls {
  display: flex;
  gap: 50px;
}
.footer .container .top .footer-uls .footer-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer hr {
  width: 75%;
  margin: auto;
  border: 1px solid var(--border-color);
}
.footer .container .bottom .logo a {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.footer .container .bottom .logo a h1 {
  font-size: 24px;
}
.footer .bottom .footer-icons {
  display: flex;
  gap: 25px;
}
.footer .bottom .footer-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  font-size: 22px;
  border-radius: 12px;
  transition: var(--main-tran);
  border: 1px solid var(--white-color);
}
.footer .bottom .footer-icons a:hover {
  border-radius: 50%;
  border: none;
  background-color: var(--main-color);
}
.footer .container .copy-right {
  text-align: center;
  word-spacing: 3px;
}
@media (max-width: 576px) {
  .footer .container .top,
  .footer .container .bottom {
    flex-direction: column;
    gap: 20px;
  }
}
